# .gitignore for Hamlib
# .gitignore
.deps/
.dirstamp
.libs/
*~
*.o
*.lo
*.la
*.orig
*.swp
$depbase.Tpo
Makefile
aclocal.m4
config.log
hamlib.pc
hamlib.spec
libtool
autom4te.cache/
bindings/Hamlib.py
bindings/hamlibvb.bas
bindings/hamlibpy_wrap.c
doc/hamlib.cfg
doc/hamlib.info
doc/stamp-vti
doc/hamlib.html
doc/version.texi
hamlib-*.tar.gz
include/config.h
include/stamp-h1
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
macros/pkg.m4
tests/ampctl
tests/ampctld
tests/rigctl
tests/rigctlcom
tests/rigctld
tests/rigmem
tests/rigsmtr
tests/rigswr
tests/rotctl
tests/rotctld
src/hamlibdatetime.h
.gdbinit
build/
