# .gitignore for Hamlib
# .gitignore
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
include/config.h.in
missing
py-compile
.deps/
Makefile
bindings/hamlibvb.bas
config.log
config.status
doc/hamlib.cfg
hamlib-1.2.13svn/
hamlib.pc
hamlib.spec
include/config.h
include/stamp-h1
libtool
ltmain.sh
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
*.o
*.lo
*.la
.libs/
rpcrig/rpc.rigd
rpcrig/rpcrig.h
rpcrig/rpcrig_clnt.c
rpcrig/rpcrig_svc.c
rpcrig/rpcrig_xdr.c
rpcrig/rpcrig_xdr_lt.c
rpcrot/rpc.rotd
rpcrot/rpcrot.h
rpcrot/rpcrot_clnt.c
rpcrot/rpcrot_svc.c
rpcrot/rpcrot_xdr.c
rpcrot/rpcrot_xdr_lt.c
tests/rigctl
tests/rigctld
tests/rigmem
tests/rigsmtr
tests/rigswr
tests/rotctl
tests/rotctld
