# .gitignore for Hamlib
$depbase.Tpo
*.exe
*.la
*.lo
*.o
*.orig
*.sh.log
*.sh.trs
*.swp
*~
.DS_Store
._.DS_Store
.cproject
.deps/
.dirstamp
.gdbinit
.libs/
.project
Makefile
Makefile.in
__pycache__
aclocal.m4
autom4te.cache/
bindings/Hamlib.py
bindings/hamlib*_wrap.c
bindings/hamlibvb.bas
bindings/pkgIndex.tcl
bindings/tcltest.tcl
build-aux/
build/
compile
config.guess
config.log
config.status
config.sub
configure
cppcheck.log
depcomp
doc/hamlib.cfg
doc/hamlib.html
doc/hamlib.info
doc/html/
doc/man*/*.html
doc/stamp-vti
doc/version.texi
hamlib-*.tar.gz
hamlib-*.zip
hamlib.pc
hamlib.spec
include/hamlib/config.h
include/hamlib/config.h.in
include/hamlib/stamp-h1
include/stamp-h1
install-sh
libs/
libtool
ltmain.sh
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
macros/pkg.m4
missing
obj/
py-compile
scripts/build-w32.sh.*
scripts/build-w64.sh.*
src/hamlibdatetime.h
src/libhamlib.def
