ampctl
ampctld
*.log
*.trs
cachetest
cachetest2
dumpmem
hamlibmodels
listrigs
rig_bench
rigctl
rigctlcom
rigctld
rigctlsync
rigctltcp
rigfreqwalk
rigmatrix
rigmem
rigsmtr
rigstreamtest
rigswr
rigtestlibusb
rigtestmcast
rigtestmcastrx
rotctl
rotctld
test-suite.log
test2038
test2038.sh
testbandmetadata
testbcd
testbcd.sh
testcache
testcache.sh
testcookie
testcookie.sh
testctlparser
testdebug
testdummyparm
testfreq
testfreq.sh
testft991idmeter
testftx1parsers
testgeministatus
testgrid
testgrid.sh
testgs100
testguohetec
testic7760caps
testic7760civ
testicomant
testicomgetvfo
testicomscan
testicomts
testid5100
testlibusb
testloc
testloc.sh
testmW2power
testnetrigctl
testnetrigctl.sh
testnetrigctllocale.sh
testrig
testrig.sh
testrigcaps
testrigcaps.sh
testrigctlprotocol
testrigopen
testthd75emu
testthd7x
testtrn
testtunercontrol
testtunercontrol_marker
testtunercontrol_stub.sh
tuner_control.log
