Source: hamlib
Section: hamradio
Priority: optional
Maintainer: Joop Stakenborg <pa3aba@debian.org>
Build-Depends: debhelper (>> 3.0.0), doxygen, swig, libperl-dev, python2.3-dev, tcl8.4-dev
Standards-Version: 3.6.1

Package: hamlib2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Conflicts: hamlib1
Description: Run-time library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the C run-time form of the library. If you wish to
 develop software using this library you need the 'hamlib-dev' package.

Package: hamlib2++
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Run-time library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the C++ run-time form of the library. If you wish to
 develop software using this library you need the 'hamlib++-dev' package.

Package: hamlib-dev
Architecture: any
Section: libdevel
Depends: hamlib2 (= ${Source-Version}), libc6-dev
Description: Development library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the development library with both C bindings.
 If you wish to run applications developed using this library you'll need the
 'hamlib2' package.

Package: hamlib++-dev
Architecture: any
Section: libdevel
Depends: hamlib2 (= ${Source-Version}), hamlib-dev (= ${Source-Version}), libc6-dev
Description: Development library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the development library with C++ bindings.
 If you wish to run applications developed using this library you'll need the
 'hamlib2' package.

Package: hamlib2-perl
Architecture: any
Section: perl
Depends: ${shlibs:Depends}
Description: Run-time library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the perl bindings of the library.

Package: hamlib2-tcl
Architecture: any
Section: interpreters
Depends: ${shlibs:Depends}
Description: Run-time library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the tcl bindings of the library.

Package: python2.3-hamlib2
Architecture: any
Section: python
Depends: ${shlibs:Depends}
Description: Run-time library to control radio transcievers and receivers
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the python bindings of the library.

Package: hamlib-utils
Architecture: any
Depends: ${shlibs:Depends}
Description: Utilities to support the hamlib radio control library
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides a command-line utility to test the hamlib library and
 to control transceivers if you're short of anything more sophisticated.

Package: hamlib-doc
Architecture: any
Section: doc
Suggests: www-browser
Description: Documentation for the hamlib radio control library
 Most recent amateur radio transceivers allow external control of their
 functions through a computer interface. Unfortunately, control commands are
 not always consistent across a manufacturer's product line and each
 manufacturer's product line differs greatly from its competitors.
 .
 This library addresses that issue by providing a standardised programming
 interface that applications can talk to and translating that into the
 appropriate commands required by the radio in use.
 .
 This package provides the developers documentation for the API.
