#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

#change this when the so name has changed
version=1.2.0
perlversion=`perl -V:version|cut -d\' -f2`

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
	--without-kylix-binding \

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE)
	$(MAKE) -C doc doc
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	dh_clean
	rm -f build-stamp configure-stamp 
	rm -f config.log config.status libltdl/config.log libltdl/config.status
	rm -rf doc/html
	rm -rf libltdl/.libs lib/.libs
	rm -f lib/termios.o libltdl/ltdl.o

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	# Move C++ files out of the way
	# Move the appropriate files into the C++ development package..
	mv $(CURDIR)/debian/tmp/usr/include/hamlib/rigclass.h $(CURDIR)/debian/hamlib++-dev/usr/include/
	mv $(CURDIR)/debian/tmp/usr/include/hamlib/rotclass.h $(CURDIR)/debian/hamlib++-dev/usr/include/
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib++.a $(CURDIR)/debian/hamlib++-dev/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib++.la $(CURDIR)/debian/hamlib++-dev/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib++.so $(CURDIR)/debian/hamlib++-dev/usr/lib/

	# Move the appropriate files into the C++ runtime package..
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib++-$(version).so.2 $(CURDIR)/debian/hamlib2++/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib++-$(version).so.2.0.0 $(CURDIR)/debian/hamlib2++/usr/lib/

	# Move the appropriate files into the C development package..
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib.so $(CURDIR)/debian/hamlib-dev/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/*.a $(CURDIR)/debian/hamlib-dev/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/*.la $(CURDIR)/debian/hamlib-dev/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/include/hamlib $(CURDIR)/debian/hamlib-dev/usr/include/
	mv $(CURDIR)/debian/tmp/usr/lib/pkgconfig/hamlib.pc $(CURDIR)/debian/hamlib-dev/usr/lib/pkgconfig/
	mv $(CURDIR)/debian/tmp/usr/share/aclocal/hamlib.m4 $(CURDIR)/debian/hamlib-dev/usr/share/aclocal/

	# Move the appropriate files into the C runtime package..
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib-$(version).so.2 $(CURDIR)/debian/hamlib2/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/libhamlib-$(version).so.2.0.0 $(CURDIR)/debian/hamlib2/usr/lib/
	mv $(CURDIR)/debian/tmp/usr/lib/hamlib-*so $(CURDIR)/debian/hamlib2/usr/lib/

	# Move the appropriate files into the perl package and do some cleanups
	mv $(CURDIR)/debian/tmp/usr/lib/perl/5.8.4/* $(CURDIR)/debian/hamlib2-perl/usr/lib/perl5
	rm -f $(CURDIR)/debian/hamlib2-perl/usr/lib/perl5/auto/Hamlib/.packlist
	rm -f $(CURDIR)/debian/hamlib2-perl/usr/lib/perl5/auto/Hamlib/Hamlib.bs
	rm -f $(CURDIR)/debian/hamlib2-perl/usr/lib/perl5/perllocal.pod
	mv $(CURDIR)/debian/hamlib2-perl/usr/lib/perl5/perltest.pl $(CURDIR)/debian/hamlib2-perl/usr/share/doc/hamlib2-perl

	# Move the appropriate files into the python package
	mv $(CURDIR)/debian/tmp/usr/lib/python/* $(CURDIR)/debian/python2.3-hamlib2/usr/lib/python2.3/site-packages
	mv $(CURDIR)/debian/tmp/usr/lib/_Hamlib.so $(CURDIR)/debian/python2.3-hamlib2/usr/lib/python2.3/site-packages
	mv $(CURDIR)/bindings/pytest.py $(CURDIR)/debian/python2.3-hamlib2/usr/share/doc/python2.3-hamlib2/

	# Move the appropriate files into the tcl package
	mv $(CURDIR)/debian/tmp/usr/lib/hamlibtcl* $(CURDIR)/debian/hamlib2-tcl/usr/lib/hamlib/
	mv $(CURDIR)/debian/tmp/usr/lib/tcl/* $(CURDIR)/debian/hamlib2-tcl/usr/lib/hamlib/
	mv $(CURDIR)/bindings/tcltest.tcl $(CURDIR)/debian/hamlib2-tcl/usr/share/doc/hamlib2-tcl/

	# Move the appropriate files into the documentation package..
	mv $(CURDIR)/doc/html/* $(CURDIR)/debian/hamlib-doc/usr/share/doc/hamlib-doc/html

	# Move the appropriate files into the utils package..
	mv $(CURDIR)/debian/tmp/usr/bin/rigctl $(CURDIR)/debian/hamlib-utils/usr/bin/
	mv $(CURDIR)/debian/tmp/usr/bin/rotctl $(CURDIR)/debian/hamlib-utils/usr/bin/
	mv $(CURDIR)/debian/tmp/usr/bin/rigmem $(CURDIR)/debian/hamlib-utils/usr/bin/
	mv $(CURDIR)/debian/tmp/usr/share/man/man1/rigctl.1 $(CURDIR)/debian/hamlib-utils/usr/share/man/man1
	mv $(CURDIR)/debian/tmp/usr/share/man/man1/rotctl.1 $(CURDIR)/debian/hamlib-utils/usr/share/man/man1
	mv $(CURDIR)/debian/tmp/usr/share/man/man1/rigmem.1 $(CURDIR)/debian/hamlib-utils/usr/share/man/man1
	mv $(CURDIR)/debian/tmp/usr/sbin/rpc.rigd $(CURDIR)/debian/hamlib-utils/usr/sbin/
	mv $(CURDIR)/debian/tmp/usr/sbin/rpc.rotd $(CURDIR)/debian/hamlib-utils/usr/sbin/
	mv $(CURDIR)/debian/tmp/usr/share/man/man8/rpc.rigd.8 $(CURDIR)/debian/hamlib-utils/usr/share/man/man8
	mv $(CURDIR)/debian/tmp/usr/share/man/man8/rpc.rotd.8 $(CURDIR)/debian/hamlib-utils/usr/share/man/man8

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot

#	dh_movefiles
#	dh_installdebconf	
	dh_installdocs -X INSTALL -X ChangeLog
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V -Xalinco -Xaor -Xdrake -Xdummy -Xeasycomm -Xflexradio -Xfodtrack -Xicom -Xjrc -Xkachina -Xkenwood -Xlowe -Xmicrotune -Xpcr -Xrft -Xrotorez -Xrpc -Xsartek -Xtapr -Xtentec -Xuniden -Xwinradio -Xyaesu -Xtcl
	dh_installdeb
#	dh_perl
	dh_shlibdeps -Xalinco -Xaor -Xdrake -Xdummy -Xeasycomm -Xflexradio -Xfodtrack -Xicom -Xjrc -Xkachina -Xkenwood -Xlowe -Xmicrotune -Xpcr -Xrft -Xrotorez -Xrpc -Xsartek -Xtapr -Xtentec -Xuniden -Xwinradio -Xyaesu
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
